.loginPage{
    background-image: url('../assets/image.png');
    background-size:cover;
    border:'2px solid pink';
    height: 100%;
    width: 100%;

    background-repeat: no-repeat;
    background-position:bottom;
}